html, body {
    font-family: 'Microsoft Yahei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary-text-color);
    max-width: 750px;
    min-width: 320px;
}

body {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
}
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

button, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.full {
  width: var(--fullsize);
}

section,
.block {
  margin: var(--padding-large-horizontal);
}

.border {
  border: 1px solid var(--border-color);
}

.list {
  list-style: none;
}
.list li {
  line-height: 2;
}

.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > * {
  flex: 1
}

.arrow-top,
.arrow-left,
.arrow-right,
.arrow-bottom {
  position: relative;
}

.arrow-top::before,
.arrow-left::before,
.arrow-right::before,
.arrow-bottom::before {
  position: absolute;
  top: 50%;
  right: 2px;
  content: '';
  display: inline-block;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  width: .5em;
  height: .5em;
  margin-top: -.25em;
  background: transparent;
}
.arrow-top::before {
  transform: rotate(-45deg);
}
.arrow-left::before {
  left: 2px;
  transform: rotate(225deg);
}
.arrow-right::before {
  transform: rotate(45deg);
}
.arrow-bottom::before {
  transform: rotate(135deg);
}

.font-large {
  font-size: 200%;
}

.font-small {
  font-size: 80%;
}

.icon {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  width: 1em;
  height: .6em;
}
.correct {
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg) translateY(-2px);
}
.wrong {
  font-size: 180%;
  vertical-align: sub;
  transform: translateX(-15%);
  margin-right: -.45em;
}

.toast {
  position: fixed;
  z-index: 9999;
  top: 30%;
  left: 50%;
  max-width: 80%;
  transform: translateX(-50%);
  word-wrap: break-word;
  text-align: center;
  font-size: 80%;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding: .5em 1em;
  border-radius: .5em;
}

.toast.fade-in {
  animation: fadeIn linear 0.25s forwards;
}
.toast.fade-out {
  animation: fadeOut linear 0.25s forwards;
}

.fade-enter-active {
  animation: fadeIn linear 0.25s forwards;
}
.fade-leave-active {
  animation: fadeOut linear 0.25s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}