html, body {
    font-family: 'Microsoft Yahei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  transform: translate3d(0, 0, 0);
}
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

button, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > * {
  flex: 1
}