html, body {
    font-family: 'Microsoft Yahei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary-text-color);
    background: var(--bg-color);
    max-width: 750px;
    min-width: 320px;
}

body {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
}
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

button, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  appearance: none;
}

img {
  width: 100%;
  font-size: 0;
  line-height: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* typesetting */

.full {
  width: var(--fullsize);
}
.fullscreen {
  font-size: var(--font-large);
  width: 100vw;
  height: calc(100vh - 2em);
  overflow: hidden;
}
section,
.block {
  padding: var(--padding-large-horizontal);
  margin-bottom: var(--padding-large-horizontal);
  background: var(--white);
}
.bg-gray {
  background: var(--bg-color);
}
.bg-white {
  background: var(--white);
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex > * {
  flex: 1
}

/* color */
.color-success {
  color: var(--success);
}
.color-danger {
  color: var(--danger);
}

/* border */
.border {
  border: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-vertical {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.border-horizontal {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* list */
.list {
  list-style: none;
}
.list li {
  line-height: 2;
}

/* text-align*/
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}

/* font-size*/

.font-largest {
  font-size: var(--font-largest);
}
.font-larger {
  font-size: var(--font-larger);
}
.font-large {
  font-size: var(--font-large);
}
.font-base {
  font-size: var(--font-base);
}
.font-small {
  font-size: var(--font-small);
}
.font-smaller {
  font-size: var(--font-smaller);
}
.font-smallest {
  font-size: var(--font-smallest);
}

.toast {
  position: fixed;
  z-index: 9999;
  top: 30%;
  left: 50%;
  max-width: 80%;
  transform: translateX(-50%);
  word-wrap: break-word;
  text-align: center;
  font-size: 80%;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  padding: .5em 1em;
  border-radius: .5em;
}

.toast.fade-in {
  animation: fadeIn linear 0.25s forwards;
}
.toast.fade-out {
  animation: fadeOut linear 0.25s forwards;
}

.fade-enter-active {
  animation: fadeIn linear 0.25s forwards;
}
.fade-leave-active {
  animation: fadeOut linear 0.25s forwards;
}

.clear {
  clear: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}