:root {
    --fullsize: 100%;

    /* color */
    --primary-color: #009949;
    --primary-text-color: #2E2E33;
    --secondary-text-color: #979799;
    --bg-color: #F0F2F1;
    --border-color: #E3E6E4;
    --success: #79D06E;
    --warning: #FFA726;
    --danger: #EF938C;
    --info: #4C8BAB;
    --white: #fff;
    --gray: #ccc;
    --disabled: var(--gray);

    /* font size */
    --font-size-base: 14px;
    --font-size-small: 12px;
    --font-size-large: 16px;
    --font-size-larger: 18px;

    /* padding */
    --padding-base-vertical: calc(0.3 * var(--font-size-larger));
    --padding-base-horizontal: calc(0.5 * var(--font-size-larger));
    --padding-small-vertical: calc(0.25 * var(--font-size-base));
    --padding-small-horizontal: calc(0.5 * var(--font-size-base));
    --padding-large-vertical: calc(0.5 * 24px);
    --padding-large-horizontal: calc(0.5 * 30px);
}
